<script>
function  modiftypaffich(j){ 
  alert('Hello World! ' + j );
}
</script>

<div class="dropdown-menu pad0B float-right">			
<div id="sidebar-toggle-4" class="collapse in icon_perso">


				<button class="button is-white" onclick="modiftypaffich('m16');">
					<img src="../assets-minified/dummy-images/typ-affich/moni1-2000-1.png"/>
				</button>
				<button href="#" title="" class="button is-white" onclick="modiftypaffich('m9');">
					<img src="../assets-minified/dummy-images/typ-affich/moni2-2000-1.png"/>
				</button>
				<button  class="button is-white" onclick="modiftypaffich('m16');">
					<img src="../assets-minified/dummy-images/typ-affich/moni3-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m4-2');">
					<img src="../assets-minified/dummy-images/typ-affich/moni4-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m4-1');">
					<img src="../assets-minified/dummy-images/typ-affich/moni5-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m4-2-2');">
					<img src="../assets-minified/dummy-images/typ-affich/moni6-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m4-3');">
					<img src="../assets-minified/dummy-images/typ-affich/moni7-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m4');">
					<img src="../assets-minified/dummy-images/typ-affich/moni8-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m4-1-1');">
					<img src="../assets-minified/dummy-images/typ-affich/moni9-2000-1.png"/>
				</button>
				<button class="button is-white" onclick="modiftypaffich('m1');">
					<img src="../assets-minified/dummy-images/typ-affich/moni10-2000-1.png"/>
				</button>
			</div>
			</div>