 <div id="page-sidebar" class="rm-transition">
   <div id="page-sidebar-wrapper">
     <div id="sidebar-top">
       <ul class="nav nav-pills nav-justified">
         <li class="active">
           <a href="#tab-example-1" data-toggle="tab">
             <i class="glyph-icon icon-users"></i>
           </a>
         </li>
         <li>
           <a href="#tab-example-2" data-toggle="tab">
             <i class="glyph-icon icon-bell"></i>
           </a>
         </li>
         <li>
           <a href="#tab-example-3" data-toggle="tab">
             <span class="small-badge bg-red"></span>
             <i class="glyph-icon icon-bar-chart-o"></i>
           </a>
         </li>
         <li>
           <a href="#tab-example-4" data-toggle="tab">
             <i class="glyph-icon icon-cogs"></i>
           </a>
         </li>
       </ul>
       <div class="tab-content">
         <div class="tab-pane clearfix fade active in" id="tab-example-1">
           <div class="user-profile-sm clearfix">
             <img width="45" class="img-rounded" src="~/assets-minified/dummy-images/User.png" alt="">
             <div class="user-welcome"> Welcome back, <b>Raouf RIAHI</b>
             </div>
             <a href="#" title="" class="btn btn-sm btn-black-opacity-alt">
               <i class="glyph-icon icon-cog"></i>
             </a>
           </div>
         </div>
         <div class="tab-pane clearfix fade" id="tab-example-2">
           <ul class="notifications-box notifications-box-alt">
             <li>
               <span class="bg-purple icon-notification glyph-icon icon-users"></span>
               <span class="notification-text">This is an error notification</span>
               <div class="notification-time"> a few seconds ago <span class="glyph-icon icon-clock-o"></span>
               </div>
               <a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="right" title="View details">
                 <i class="glyph-icon icon-arrow-right"></i>
               </a>
             </li>
             <li>
               <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
               <span class="notification-text">This is a warning notification</span>
               <div class="notification-time">
                 <b>15</b> minutes ago <span class="glyph-icon icon-clock-o"></span>
               </div>
               <a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="right" title="View details">
                 <i class="glyph-icon icon-arrow-right"></i>
               </a>
             </li>
             <li>
               <span class="bg-green icon-notification glyph-icon icon-random"></span>
               <span class="notification-text font-green">A success message example.</span>
               <div class="notification-time">
                 <b>2 hours</b> ago <span class="glyph-icon icon-clock-o"></span>
               </div>
               <a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="right" title="View details">
                 <i class="glyph-icon icon-arrow-right"></i>
               </a>
             </li>
           </ul>
         </div>
         <div class="tab-pane clearfix fade" id="tab-example-3">
           <div class="info-box remove-border">
             <div class="chart-icon">
               <div class="infobox-sparkline"></div>
             </div>
             <b>Exchange rate</b>
             <span class="stats font-size-23">
               <i class="glyph-icon icon-chevron-down font-red"></i> 43.79 <span class="font-green">+0.9</span>
             </span>
           </div>
         </div>
         <div class="tab-pane clearfix fade" id="tab-example-4">
           <div class="complete-user-profile">
             <h4>Complete your profile</h4>
             <div class="progressbar-small progressbar" data-value="75">
               <div class="progressbar-value bg-azure tooltip-button" title="" data-original-title="45%"></div>
             </div>
             <b>Next step:</b>
             <a href="#" title="Verify identity">Verify identity</a>
           </div>
         </div>
       </div>
     </div>
     <div id="sidebar-menu">
       <ul>
         <li>
           <a href="index.html" title="Dashboard">
             <i class="glyph-icon icon-linecons-tv"></i>
             <span>Dashboard</span>
           </a>
         </li>
         <li>
           <a href="#" title="Settings">
             <i class="glyph-icon icon-linecons-cog"></i>
             <span>Settings</span>
           </a>
           <ul>
             <li>
               <a href="accordions.html" title="Accordions">
                 <span>Accordions</span>
               </a>
             </li>
             <li>
               <a href="bs-carousel.html" title="Bootstrap carousel">
                 <span>Bootstrap carousel</span>
               </a>
             </li>
             <li>
               <a href="bs-datepicker.html" title="Bootstrap datepicker">
                 <span>Bootstrap datepicker</span>
               </a>
             </li>
             <li>
               <a href="calendar.html" title="Calendar">
                 <span>Calendar</span>
               </a>
             </li>
             <li>
               <a href="collapsable.html" title="Collapsable">
                 <span>Collapsable</span>
               </a>
             </li>
             <li>
               <a href="colorpicker.html" title="Colorpicker">
                 <span>Colorpicker</span>
               </a>
             </li>
             <li>
               <a href="custom-scrollbars.html" title="Custom scrollbars">
                 <span>Custom scrollbars</span>
               </a>
             </li>
             <li>
               <a href="dialogs.html" title="Dialogs">
                 <span>Dialogs</span>
               </a>
             </li>
             <li>
               <a href="dynamic-tables.html" title="Dynamic tables">
                 <span>Dynamic tables</span>
               </a>
             </li>
             <li>
               <a href="jgrowl-notifications.html" title="JGrowl notifications">
                 <span>JGrowl notifications</span>
               </a>
             </li>
             <li>
               <a href="jqueryui-datepicker.html" title="jQueryUI datepicker">
                 <span>jQueryUI datepicker</span>
               </a>
             </li>
             <li>
               <a href="lazyload.html" title="Images preloader">
                 <span>Images preloader</span>
               </a>
             </li>
             <li>
               <a href="loading-bar.html" title="Loading bar">
                 <span>Loading bar</span>
               </a>
             </li>
             <li>
               <a href="modals.html" title="Modals">
                 <span>Modals</span>
               </a>
             </li>
             <li>
               <a href="noty-notifications.html" title="Noty notifications">
                 <span>Noty notifications</span>
               </a>
             </li>
             <li>
               <a href="overlays.html" title="Overlays">
                 <span>Overlays</span>
               </a>
             </li>
             <li>
               <a href="popovers.html" title="Popovers">
                 <span>Popovers</span>
               </a>
             </li>
             <li>
               <a href="progress-bars.html" title="Progress bars">
                 <span>Progress bars</span>
               </a>
             </li>
             <li>
               <a href="sliders.html" title="Sliders">
                 <span>Sliders</span>
               </a>
             </li>
             <li>
               <a href="sortable.html" title="Sortable elements">
                 <span>Sortable elements</span>
               </a>
             </li>
             <li>
               <a href="tabs.html" title="Tabs">
                 <span>Tabs</span>
               </a>
             </li>
             <li>
               <a href="timepicker.html" title="Timepicker">
                 <span>Timepicker</span>
               </a>
             </li>
             <li>
               <a href="tooltips.html" title="Tooltips">
                 <span>Tooltips</span>
               </a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#" title="Views">
             <i class="glyph-icon icon-linecons-beaker"></i>
             <span>Views</span>
           </a>
           <ul>
             <li>
               <a href="badges.html" title="Badges">
                 <span>Badges</span>
               </a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#" title="Applications">
             <i class="glyph-icon icon-linecons-shop"></i>
             <span>Applications</span>
           </a>
           <ul>
             <li class="header">
               <span>Mailbox</span>
             </li>
             <li>
               <a href="mailbox-inbox-alt.html" title="Inbox">
                 <span>Inbox</span>
               </a>
             </li>
             <li>
               <a href="mailbox-compose.html" title="Compose message">
                 <span>Compose message</span>
               </a>
             </li>
             <li>
               <a href="mailbox-message.html" title="View message">
                 <span>View message</span>
               </a>
             </li>
           </ul>
           <ul>
             <li class="header">
               <span>Others</span>
             </li>
             <li>
               <a href="chat.html" title="Chat">
                 <span>Chat</span>
               </a>
             </li>
             <li>
               <a href="todo.html" title="Chat">
                 <span>Checklist</span>
               </a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#" title="Layouts">
             <i class="glyph-icon icon-linecons-desktop"></i>
             <span>Layouts</span>
           </a>
           <ul>
             <li class="header">
               <span>Pages</span>
             </li>
             <li>
               <a href="page-blank.html" title="Page blank">
                 <span>Page blank</span>
               </a>
             </li>
             <li>
               <a href="page-container.html" title="Page with container">
                 <span>Page with container</span>
               </a>
             </li>
             <li>
               <a href="page-single-wrapper.html" title="Page with single wrapper">
                 <span>Page with single wrapper</span>
               </a>
             </li>
             <li>
               <a href="page-multiple-wrappers.html" title="Page with multiple wrappers">
                 <span>Page with multiple wrappers</span>
               </a>
             </li>
             <li>
               <a href="page-scrollbar.html" title="Page with custom scrollbar">
                 <span>Page with custom scrollbar</span>
               </a>
             </li>
             <li>
               <a href="page-tabs.html" title="Page with tabs navigation">
                 <span>Page with tabs navigation</span>
               </a>
             </li>
             <li class="header">
               <span>Navigation</span>
             </li>
             <li>
               <a href="navigation-menu-horizontal.html" title="Horizontal menu">
                 <span>Horizontal menu</span>
               </a>
             </li>
             <li>
               <a href="navigation-menu-horizontal-centered.html" title="Centered horizontal menu">
                 <span>Centered horizontal menu</span>
               </a>
             </li>
             <li>
               <a href="navigation-menu-collapsed.html" title="Collapsed horizontal menu">
                 <span>Collapsed horizontal menu</span>
               </a>
             </li>
             <li class="header">
               <span>Breadcrumbs</span>
             </li>
             <li>
               <a href="breadcrumb-simple.html" title="Breadcrumb menu">
                 <span>Breadcrumb menu</span>
               </a>
             </li>
             <li>
               <a href="breadcrumb-sidebar-collapsed.html" title="Breadcrumb with collapsed menu">
                 <span>Breadcrumb collapsed menu</span>
               </a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#" title="Extra pages">
             <i class="glyph-icon icon-linecons-params"></i>
             <span>Extra pages</span>
           </a>
           <ul>
             <li class="header">
               <span>Dashboards</span>
             </li>
             <li>
               <a href="index.html" title="Dashboard example 1">
                 <span>Dashboard example 1</span>
               </a>
             </li>
             <li>
               <a href="dashboard-2.html" title="Dashboard example 2">
                 <span>Dashboard example 2</span>
               </a>
             </li>
             <li>
               <a href="dashboard-3.html" title="Dashboard example 3">
                 <span>Dashboard example 3</span>
               </a>
             </li>
             <li class="header">
               <span>Others</span>
             </li>
             <li>
               <a href="helper-classes.html" title="Helper classes">
                 <span>Helper classes</span>
               </a>
             </li>
             <li>
               <a href="slidebars.html" title="Slidebars panels">
                 <span>Slidebars panels</span>
               </a>
             </li>
             <li>
               <a href="animations.html" title="Animations">
                 <span>Animations</span>
               </a>
             </li>
             <li>
               <a href="page-transitions.html" title="Page transitions">
                 <span>Page transitions</span>
               </a>
             </li>
             <li class="header">
               <span>Lockscreens</span>
             </li>
             <li>
               <a href="lockscreen-page-1.html" target="_blank" title="Lockscreen example 1">
                 <span>Lockscreen example 1</span>
               </a>
             </li>
             <li>
               <a href="lockscreen-page-2.html" target="_blank" title="Lockscreen example 2">
                 <span>Lockscreen example 2</span>
               </a>
             </li>
             <li>
               <a href="lockscreen-page-3.html" target="_blank" title="Lockscreen example 3">
                 <span>Lockscreen example 3</span>
               </a>
             </li>
             <li class="header">
               <span>Login pages</span>
             </li>
             <li>
               <a href="login-page-1.html" target="_blank" title="Login example 1">
                 <span>Login example 1</span>
               </a>
             </li>
             <li>
               <a href="login-page-2.html" target="_blank" title="Login example 2">
                 <span>Login example 2</span>
               </a>
             </li>
             <li>
               <a href="login-page-3.html" target="_blank" title="Login example 3">
                 <span>Login example 3</span>
               </a>
             </li>
             <li>
               <a href="login-page-4.html" target="_blank" title="Login example 4">
                 <span>Login example 4</span>
               </a>
             </li>
             <li>
               <a href="login-page-5.html" target="_blank" title="Login example 5">
                 <span>Login example 5</span>
               </a>
             </li>
             <li class="header">
               <span>Server response</span>
             </li>
             <li>
               <a href="server-page-1.html" target="_blank" title="Server error example 1">
                 <span>Server error example 1</span>
               </a>
             </li>
             <li>
               <a href="server-page-2.html" target="_blank" title="Server error example 2">
                 <span>Server error example 2</span>
               </a>
             </li>
             <li>
               <a href="server-page-3.html" target="_blank" title="Server error example 3">
                 <span>Server error example 3</span>
               </a>
             </li>
             <li>
               <a href="server-page-4.html" target="_blank" title="Server error example 4">
                 <span>Server error example 4</span>
               </a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#" title="Maps">
             <i class="glyph-icon icon-linecons-location"></i>
             <span>Maps</span>
           </a>
           <ul>
             <li>
               <a href="google-maps.html" title="Google maps">
                 <span>Google maps</span>
               </a>
             </li>
             <li>
               <a href="vector-maps.html" title="Vector maps">
                 <span>Vector maps</span>
               </a>
             </li>
           </ul>
         </li>
       </ul>
     </div>
     <!-- #sidebar-menu -->
   </div>
 </div>