<div class="dropdown-menu pad0B float-right">
  <div class="">
    <ul class="reset-ul mrg5B" style="padding-top: 8px; padding-left: 8px;">
      <li style="display: inline-block;">
        <a href="#" title="" class="user-ico clearfix" data-toggle="dropdown">
          <img width="36" src="../assets/drap/eng.png" alt="">
        </a>
      </li>
      <li style="display: inline-block;">
        <a href="#" title="" class="user-ico clearfix" data-toggle="dropdown">
          <img width="36" src="../assets/drap/ital.png" alt="">
        </a>
      </li>
      <li style="display: inline-block;">
        <a href="#" title="" class="user-ico clearfix" data-toggle="dropdown">
          <img width="36" src="../assets/drap/esp.png" alt="">
        </a>
      </li>
      <li style="display: inline-block;">
        <a href="#" title="" class="user-ico clearfix" data-toggle="dropdown">
          <img width="36" src="../assets/drap/alm.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>