 <div id="page-nav">
   <div id="page-content">
     <div class="page-box"> @{ await Html.RenderPartialAsync("Liveview"); } </div>
     <link rel="stylesheet" type="text/css" href="~/assets-minified/demo-widgets.css">
     <script type="text/javascript" src="~/assets-minified/demo-widgets.js"></script>
   </div>
 </div>