<div class="dropdown-menu float-right" id="progress-dropdown">
  <div class="popover-title display-block clearfix pad10A"> Layout color </div>
  <div class="pad10A clearfix change-layout-theme">
    <a href="javascript:;" class="choose-theme" framework-color="default" layout-color="light" title="Light">
      <span style="background: #fafafa;"></span>
    </a>
    <a href="javascript:;" class="choose-theme" framework-color="default" layout-color="default" title="Default">
      <span style="background: #232323;"></span>
    </a>
  </div>
  <div class="popover-title display-block clearfix pad10A"> Framework color </div>
  <div class="pad10A clearfix change-layout-theme">
    <a href="javascript:;" class="choose-theme" framework-color="default" layout-color="light" title="Default">
      <span style="background: #f87500;"></span>
    </a>
    <a href="javascript:;" class="choose-theme" framework-color="blue" layout-color="default" title="Blue">
      <span style="background: #0084ff;"></span>
    </a>
    <a href="javascript:;" class="choose-theme" framework-color="green" layout-color="light" title="Green">
      <span style="background: #36be00;"></span>
    </a>
  </div>
</div>