@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http

@model LoginViewModel
@{
    Layout = "_LayoutAdminlteBlank";
}

<div class="login-box-body">
    <p class="login-box-msg"><b>Sign in to start your session</b></p>
     <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-group has-feedback">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control"  />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
          <div class="form-group has-feedback">
            <label asp-for="Language"></label>
            <select asp-for="Language" class="form-control" ></select>
            <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () { 
            var error = $('#error').val();
            if (error) {
                ShowMessageError(error);
            }  
        });
    </script>
}
